@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 70vh;
    min-height: 700px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: #fc697a;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 17px;
    font-weight: 600;
    padding: 20px;
    color: #656875;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #12114d;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 100px;
    display: flex;
    padding: 50px;
    background-color: #f5f9fc;
    border-radius: 25px;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: #12114d;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #fc697a;
    font-size: 17px;
    color: #ffffffff;
    border-radius: 15px;
    text-transform: capitalize;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #e95f6f;
}

.header-img {
    width: 50%;
    text-align: right;
}

.header-img img {
    width: 400px;
}
